@use '../util' as u;
html {
    box-sizing: border-box;
    font-size: 100%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
    color: var(--white);
    background-color: var(--black);
    //background-color: #281b1a;
    //background-color: #1c1c1c;
    //background-color: #010101;
    background-color: #f6efee;
    color: #454543;
    background-color: #f3f1ea;
    

}
