@use '../util' as * ;
h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}
a,
a:visited,
a:active {
    text-decoration: none;
}

.title {
    color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
    -webkit-text-stroke: 0.1px var(--white);
    position: relative;
    width: fit-content;
    margin-inline: auto;
    letter-spacing: 0.5rem;

    @include breakpoint-down(mobile){
        font-size: 3rem;
    }

    &::after,
    &::before {
        content: '';
        width: 7rem;
        height: 0.005rem;
        background-color: rgba(255, 255, 255, 0.671);
        z-index: 100;
        position: absolute;
    }
    &::before {
        top: 5%;
        left: 0;
    }
    &::after {
        bottom: 12%;
        right: 0;
    }
}
.button {
    border: 1px solid var(--white);
    border-radius: 10.5px;
    padding: 0.7rem 1.5rem;
    align-self: flex-start;
    color: var(--white);

    &:hover{
        border: 1px solid var(--primarycolor);
    }
}