@use '../util' as *;

.banner {
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.514)),
            url(../images/bannerback.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
       // background-repeat: no-repeat;

        @include breakpoint-down(tablet) {
            grid-template-columns: 1fr;
        }
    }
    &__text {
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-left: rem(140);

        @include breakpoint-down(tablet) {
            padding-left: rem(50);
            padding-right: rem(50);
        }

        @include breakpoint-down(small) {
            padding-left: rem(20);
            padding-right: rem(20);
        }
    }
}
